@charset "UTF-8";
/* abstracts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --Snow: #FBF5F3;
  --Russian-Green: #6B8F71;
  --Amaranth-Purplen: #A93F55;
  --Gunmetal: #22333B;
  --Rich-Black-FOGRA: #0A0908;
  --SpacerBase: 1rem;
  --SpacerIncrement: 0.8rem;
}

/* base */
body {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--Rich-Black-FOGRA);
}

h1 {
  color: var(--Gunmetal);
}

h2 {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--Gunmetal);
}
h2 span {
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  color: var(--Gunmetal);
}

label {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--Gunmetal);
}

input {
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem;
}

pre {
  font-size: 1.1rem;
}

nav ul a {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

@media screen and (min-width: 1100px) {
  html {
    font-size: 20px;
  }
}
.text-Snow {
  color: var(--Snow);
}

.bg-Snow {
  background-color: var(--Snow);
}

.text-Russian-Green {
  color: var(--Russian-Green);
}

.bg-Russian-Green {
  background-color: var(--Russian-Green);
}

.text-Amaranth-Purplen {
  color: var(--Amaranth-Purplen);
}

.bg-Amaranth-Purplen {
  background-color: var(--Amaranth-Purplen);
}

.text-Gunmetal {
  color: var(--Gunmetal);
}

.bg-Gunmetal {
  background-color: var(--Gunmetal);
}

body {
  background-color: var(--Snow);
}

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

/* components */
.btn {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  font-size: 1rem;
  font-weight: normal;
  padding: 0.8em 1.5em;
  border-radius: 0.5em;
  border: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  outline: none;
}
.btn:focus {
  filter: brightness(85%);
}

article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
article img {
  border-radius: 1rem;
  margin-bottom: 1rem;
}
article .article_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
article .article_container p {
  max-width: 70ch;
}
article .button-container {
  display: flex;
  justify-content: space-between;
}
article .button-container button {
  text-transform: uppercase;
}
@media screen and (min-width: 810px) {
  article {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  article img {
    margin-bottom: 0px;
  }
  article:nth-child(even) img {
    grid-row: span 3;
    grid-column: 2;
  }
  article .button-container {
    display: flex;
    justify-content: flex-start;
    gap: 85px;
  }
}

.boka {
  display: grid;
  grid-template-columns: 1fr auto;
  position: -webkit-sticky;
  position: sticky;
  bottom: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5em;
  z-index: 1;
}
.boka a {
  grid-row: 1/3;
  grid-column: 2/3;
  align-self: center;
}
@media screen and (min-width: 810px) {
  .boka {
    position: static;
    align-self: baseline;
    margin-top: 2.6rem;
  }
}

/* layout */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: #E4E4E4;
  height: 20px;
  overflow: hidden;
  margin-bottom: 32px;
  padding: 24px 24px 32px 24px;
  border-radius: 0px 0px 1em 1em;
  transition: 0.4s;
  /* Toggle active nav */
}
header .hamburger {
  position: absolute;
  top: 39px;
  right: 24px;
  width: 30px;
  height: 4px;
  border-radius: 4px;
  cursor: pointer;
}
header .hamburger::after {
  position: absolute;
  top: 10px;
  content: "";
  background-color: inherit;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
header .hamburger::before {
  position: absolute;
  top: -10px;
  content: "";
  background-color: inherit;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
header nav {
  display: none;
}
header nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
header .btn {
  font-size: 1.5rem !important;
  display: none !important;
}
header.active {
  height: auto;
  transition: 0.4s;
}
header.active nav {
  display: block;
}
header.active .btn {
  display: inline-block !important;
}
@media screen and (min-width: 810px) {
  header {
    flex-direction: row;
    overflow: visible;
    height: auto;
  }
  header .hamburger {
    display: none;
  }
  header nav {
    display: block;
  }
  header nav ul {
    flex-direction: row;
  }
  header .btn {
    display: inline-block !important;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: #E4E4E4;
  margin-top: 40px;
  padding: 24px 24px 32px 24px;
  border-radius: 1em 1em 0px 0px;
}
footer .Sosiala {
  display: flex;
  align-self: center;
  gap: 1.5rem;
  font-size: 2rem;
}
footer .Öppetider {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .Öppetider h2 {
  font-weight: bold;
  align-self: center;
}
footer .Öppetider ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
footer .Öppetider ul a {
  text-decoration: underline;
}
footer .Hotel {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .Hotel h2 {
  font-weight: bold;
  align-self: center;
}
footer .Hotel ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
footer .Hotel ul a {
  text-decoration: underline;
}
@media screen and (min-width: 810px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
  footer .Sosiala {
    align-self: flex-end;
  }
  footer .Hotel h2, footer .Öppetider h2 {
    align-self: flex-start;
  }
}

.pageMargin {
  margin: 0px 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
form .input-grope {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  background-color: transparent;
  border: 3px solid var(--Russian-Green);
  border-radius: 0.5em;
  padding: 1em 0.5em;
  outline: none;
}
input:focus {
  border-color: var(--Amaranth-Purplen);
}

/* pages */
.boende {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.rum {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.rum .introduktion {
  display: grid;
  grid-template-columns: 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 1rem;
}
.rum .introduktion img {
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.rum .förmåner h2 {
  margin-bottom: 0.5em;
}
.rum .förmåner ul {
  padding-left: 1em;
}
.rum .förmåner ul li {
  list-style: disc;
}
@media screen and (min-width: 810px) {
  .rum {
    grid-template-columns: repeat(2, 1fr);
  }
  .rum .introduktion {
    grid-column: 1/-1;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
  }
  .rum .introduktion a {
    grid-column: 1/-1;
  }
  .rum .introduktion img {
    grid-row: span 2;
    margin-bottom: 0.5rem;
  }
  .rum .förmåner {
    grid-row: 3;
  }
  .rum .förmåner h2 {
    margin-bottom: 0.5em;
  }
  .rum .boka {
    grid-row: 2;
  }
  .rum .calendar {
    grid-row: span 2;
  }
}
@media screen and (min-width: 1100px) {
  .rum {
    grid-template-columns: repeat(4, 1fr);
  }
  .rum .boka {
    grid-column: 3/-1;
    justify-self: end;
    -moz-column-gap: 90px;
         column-gap: 90px;
  }
  .rum .förmåner {
    grid-column: 3;
    grid-row: 3;
  }
  .rum .calendar {
    grid-column: span 2;
  }
}

.check-out {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 72px;
}
.check-out img {
  border-radius: 1rem 1rem 0px 0px;
}
.check-out table {
  width: 100%;
}
.check-out table tr {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.check-out table tr:nth-child(odd) {
  background-color: #E4E4E4;
}
.check-out .Bekraftelse h2 {
  margin-bottom: 0.5em;
}
.check-out .Bekraftelse pre {
  background-color: #E4E4E4;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em 0.5em;
  border-radius: 0.5em;
}
.check-out .Bekraftelse pre.active {
  -webkit-animation: bekraftelseActive 2.5s 1 ease-in-out;
          animation: bekraftelseActive 2.5s 1 ease-in-out;
}
@media screen and (min-width: 710px) {
  .check-out {
    grid-template-columns: repeat(2, 1fr);
    gap: 72px;
  }
}
@media screen and (min-width: 1100px) {
  .check-out {
    grid-template-columns: repeat(2, 1fr);
    gap: 72px;
    justify-content: center;
    width: 860px;
    margin-inline: auto;
  }
}

@-webkit-keyframes bekraftelseActive {
  0% {
    background-color: #E4E4E4;
  }
  25% {
    background-color: var(--Russian-Green);
  }
  50% {
    background-color: #E4E4E4;
  }
  75% {
    background-color: var(--Russian-Green);
  }
  100% {
    background-color: #E4E4E4;
  }
}

@keyframes bekraftelseActive {
  0% {
    background-color: #E4E4E4;
  }
  25% {
    background-color: var(--Russian-Green);
  }
  50% {
    background-color: #E4E4E4;
  }
  75% {
    background-color: var(--Russian-Green);
  }
  100% {
    background-color: #E4E4E4;
  }
}/*# sourceMappingURL=main.css.map */