.check-out {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 72px;
    img {
        border-radius: 1rem 1rem 0px 0px;
    }
    table {
        width: 100%;

        tr {
            display: flex;
            justify-content: space-between;
            padding: .5rem;

            &:nth-child(odd) {
                background-color: #E4E4E4;
            }
        }
    }

    @media screen and (min-width: 710px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 72px;
    }
    @media screen and (min-width: 1100px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 72px;
        justify-content: center;

        width: 850px;
        margin-inline: auto;
    }
}
