.check-out {

    img {
        border-radius: 1rem 1rem 0px 0px;
    }
    table {
        width: 100%;
        margin-bottom: 72px;

        tr {
            display: flex;
            justify-content: space-between;
            padding: .5rem;

            &:nth-child(odd) {
                background-color: #E4E4E4;
            }
        }
    }
}
