.text-Snow {
    color: var(--Snow);
}
.bg-Snow {
    background-color: var(--Snow);
}

.text-Russian-Green {
    color: var(--Russian-Green);
}
.bg-Russian-Green {
    background-color: var(--Russian-Green);
}

.text-Amaranth-Purplen {
    color: var(--Amaranth-Purplen);
}
.bg-Amaranth-Purplen {
    background-color: var(--Amaranth-Purplen);
}

.text-Gunmetal {
    color: var(--Gunmetal);
}
.bg-Gunmetal {
    background-color: var(--Gunmetal);
}


body {
    background-color: var(--Snow);
}
