@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: var(--Rich-Black-FOGRA);
}

h1 {
    color: var(--Gunmetal);
}

h2 {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--Gunmetal);

    span {
        font-weight: 500;
    }
}

h3 {
    font-size: 1.5rem;
    color: var(--Gunmetal);
}

label {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--Gunmetal);
}

input {
    font-family: 'Roboto', sans-serif;
}

nav ul a
{
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

@media screen and (min-width: 1100px) {
    html {
        font-size: 20px;
    }
}
