:root {
    --Snow: #FBF5F3;
    --Russian-Green: #6B8F71;
    --Amaranth-Purplen: #A93F55;
    --Gunmetal: #22333B;
    --Rich-Black-FOGRA: #0A0908;

    --SpacerBase: 1rem;
    --SpacerIncrement: 0.8rem;
}
